.container {
    margin: 15px 30px;
}

.img {
    margin-right: 480px;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #282828;
    margin-top: 5px;
}

.text {
    display: flex;
    justify-content: center;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #282828;
    margin: 10px 0;
}

.text span {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #282828;
    margin: 0 5px;
}

.input {
    direction: ltr;
    display: flex;
    justify-content: center;
}

.otpInput {
    margin: 20px 5px;
}

.resend {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: gray;
}

.resend span {
    display: flex;
    align-items: center;
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin: 0 5px;
}

.btn {
    font-family: Vazir-Medium-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 491px;
    height: 54px;
    border-radius: 6px;
    margin-top: 22px;
    padding: 8px;
    gap: 8px;
    background-color: #28A745;
    color: #FFFFFF;
    border: 1px solid #00000040;
    cursor: pointer;
}

@media (max-width: 480px) {
    .container {
        margin: 15px auto;
    }
    .img {
        width: 28px;
        height: 28px;
        margin-right: 320px;
    }
    .title {
        font-size: 22px;
        font-weight: 500;
    }
    .text {
        font-size: 14px;
        margin-top: 15px;
    }
    .text span {
        font-size: 14px;
        margin-top: 2px;
    }
    .input > div {
        display: flex;
        gap: 38px;
    }
    .otpInput {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 30px;
        margin: 20px auto;
        font-size: 14px;
        border-radius: 10px;
    }
    .resend {
        margin-top: 20px;
    }
    .btn {
        width: 278px;
        height: 54px;
        margin: 25px auto 0 auto;
    }
}