.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.content {
    width: 561px;
    height: 362px;
    opacity: 1;
    background-color: var(--bg-main);
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

html[data-theme="dark"] .content {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
}

@media (max-width: 480px) {
    .content {
        width: 358px;
        height: 362px;
    }
}