.container {
    margin: 15px 30px;
}

.img {
    margin-right: 480px;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #282828;
}

.numberBox {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 11px;
}

.numberBox p {
    font-family: YekanBakh-light, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
}

.numberBoxInput {
    width: 491px;
    height: 54px;
    border-radius: 6px;
    padding: 8px;
    border: 1px solid #00000040;
}

.numberBox input:focus {
    outline: none;
}

.numberBoxInput::placeholder {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #00000080;
}

.error {
    border: 1px solid #fa1e1e;
}

.numberBox span {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fa1e1e;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 491px;
    height: 54px;
    border-radius: 6px;
    padding: 8px;
    margin-top: 30px;
    background-color: #28A745;
    border: 1px solid #00000040;
    font-family: Vazir-Medium-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

@media (max-width: 480px) {
    .container {
        margin: 15px auto;
    }

    .img {
        width: 30px;
        height: 30px;
        margin-right: 320px;
    }

    .title {
        font-size: 22px;
    }

    .numberBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .numberBox p {
        font-size: 16px;
        font-weight: 400;
        margin-left: 80px;
    }

    .numberBoxInput {
        width: 278px;
        height: 54px;
    }

    .btn {
        width: 278px;
        height: 54px;
        margin: 40px auto 0 auto;
    }
}
