.container {
    margin: 0 auto;
    background-color: var(--bg-main);
}

.intro p {
    display: flex;
    justify-content: center;
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #595959;
    text-align: center;
    margin: 25px auto;
}

html[data-theme="dark"] .intro p {
    color: #e6e6e6;
}

.intro span {
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #28A745;
    margin: 0 5px;
}

.allTours {
    width: 1188px;
    margin: 100px auto 10px auto;
}

.allTours p {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

html[data-theme="dark"] .allTours p {
    color: #e6e6e6;
}

.tourNotFound {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 25px;
    background-color: #D8FFE1;
    padding: 10px;
    border-radius: 10px;
    color: #282828;
    margin: 50px auto;
}

html[data-theme="dark"] .tourNotFound {
    background-color: #10411B;
    color: #e6e6e6;
}

.tourContainer {
    display: flex;
    flex-flow: row wrap;
    width: 1188px;
    gap: 25px;
    margin: 0 auto;
}

.tour {
    width: 278px;
    height: 277px;
    border: 1px solid #0000001F;
    border-radius: 10px;
}

html[data-theme="dark"] .tour {
    border: 1px solid #595959;
}

.tourName {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    margin-right: 10px;
}

html[data-theme="dark"] .tourName {
    color: #e6e6e6;
}

.tourOptions {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #282828B2;
    margin-top: 5px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html[data-theme="dark"] .tourOptions {
    color: #A9A9A9FF;
}

.priceBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin-top: 15px;
    border-top: 1px solid #0000001F;
}

html[data-theme="dark"] .priceBox {
    border-top: 1px solid #595959;
}

.reserveBtn {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    color: #FFFFFF;
    background-color: #28A745;
    backdrop-filter: blur(4px);
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.priceBox p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #009ECA;
    margin-top: 5px;
    margin-left: 14px;
}

.priceBox p span {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

html[data-theme="dark"] .priceBox p span {
    color: #A9A9A9FF;
}

.bannerContainer {
    display: flex;
    width: 1188px;
    height: 251px;
    border: 1px solid #00000040;
    border-radius: 11px;
    margin: 100px auto 0 auto;
}

html[data-theme="dark"] .bannerContainer {
    border: 1px solid #595959;
}

.innerBox {
    display: flex;
    flex-direction: column;
    width: 869px;
    background-color: #28A745;
    border-radius: 10px;
}

.innerBox p:first-child {
    font-family: YekanBakh-Bold, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;
    margin: 30px 60px 10px 0;
}

.innerBox p:first-child span {
    font-family: YekanBakh-Bold, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #10411B;
    margin-right: 10px;
}

.innerBox p:last-child {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-right: 60px;
}

.greenBox {
    display: flex;
}

.cartoon {
    margin-right: -340px;
    margin-top: 25px;
}

.whiteBox {
    display: flex;
    flex-direction: column;
}

.innerWhiteBox {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    margin: 66px 110px 8px 0;
}

.innerWhiteBox p {
    font-family: Vazir-Medium-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}

html[data-theme="dark"] .innerWhiteBox p {
    color: #ffffff;
}

.moreInfo {
    width: 175px;
    height: 41px;
    padding: 8px;
    gap: 8px;
    border-radius: 9px;
    background-color: #10411B;
    margin-right: 100px;
}

html[data-theme="dark"] .call {
    filter: brightness(0) invert(1);
}

.moreInfo p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.moreToursContainer {
    display: flex;
    width: 1182px;
    margin: 150px auto 160px auto;
}

.moreToursBox {
    display: flex;
    flex-direction: column;
}

.moreToursTitle {
    display: flex;
}

.moreToursTitle img {
    display: none;
}

.circle {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: linear-gradient(180deg, #28A745 0%, #10411B 100%);
}

.qmark {
    font-family: Vazirmatn-Black, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #FFFFFF;
    margin-right: -36px;
    margin-top: 3px;
}

.spanBox {
    display: flex;
    font-family: Vazirmatn-Bold, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-right: 35px;
    margin-top: -3px;
}

.spanBox span:first-child {
    color: #282828;
}

html[data-theme="dark"] .spanBox span:first-child {
    color: #e6e6e6;
}

.spanBox span:nth-child(2) {
    color: #28A745;
    margin: 0 10px;
}

.spanBox span:last-child {
    color: #282828;
}

html[data-theme="dark"] .spanBox span:last-child {
    color: #e6e6e6;
}

.moreToursText {
    display: flex;
    flex-direction: column;
}

.moreToursText p:first-child {
    font-family: Vazirmatn-Medium, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #282828;
    margin: 30px 0 20px 0;
}

html[data-theme="dark"] .moreToursText p:first-child {
    color: #e6e6e6;
}

.moreToursText p:last-child {
    width: 517px;
    height: 264px;
    text-align: justify;
    font-family: IranianSans, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 220%;
    color: #282828;
}

html[data-theme="dark"] .moreToursText p:last-child {
    color: #e6e6e6;
}

.border {
    border: 1px solid #00000022;
    margin-bottom: 20px;
}

html[data-theme="dark"] .border {
    border: 1px solid #D8FFE1;
}

.commercialBox {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    gap: 110px;
    background-color: var(--bg-main);
}

.Box {
    display: flex;
    align-items: center;
}

.BoxText {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.BoxText p:first-child {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 26px;
    color: #282828;
    margin-right: 10px;
}

html[data-theme="dark"] .BoxText p:first-child {
    color: #e6e6e6;
}

.BoxText p:last-child {
    width: 202px;
    height: 50px;
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #282828;
    margin-right: 10px;
}

html[data-theme="dark"] .BoxText p:last-child {
    color: #e6e6e6;
}

@media (max-width: 1200px) {
    .container {
        margin: 0 auto;
    }

    .allTours {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        margin: 100px 40px 10px auto;
    }

    .tourContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 2rem);
        padding-right: 20px;
        gap: 10px;
        margin: 0 auto;
    }

    .bannerContainer {
        width: 900px;
        height: 251px;
        margin: 100px auto 0 auto;
    }

    .innerBox {
        width: 580px;
    }

    .innerBox p:first-child {
        display: flex;
        justify-content: flex-start;
        font-size: 42px;
        color: #FFFFFF;
        margin-right: 20px;
    }

    .innerBox p:first-child span {
        font-size: 42px;
    }

    .innerBox p:last-child {
        font-size: 29px;
        margin-right: 25px;
    }

    .cartoon {
        margin-right: -320px;
    }

    .innerWhiteBox {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        margin: 66px 95px 8px 0;
    }

    .moreInfo {
        margin-right: 85px;
    }

    .moreToursContainer {
        width: 900px;
        margin: 150px auto 160px auto;
    }

    .moreToursText p:last-child {
        width: 400px;
    }

    .commercialBox {
        gap: 70px;
    }

    .Box img {
        width: 90px;
        height: 85px;
    }

}

@media (max-width: 1050px)  {
    .commercialBox {
        gap: 40px;
    }

    .Box img {
        width: 80px;
        height: 75px;
    }
}

@media (max-width: 900px) {

    .intro p {
        font-size: 22px;
    }

    .intro span {
        font-size: 22px;
    }

    .tourNotFound {
        width: 400px;
        font-size: 20px;
        font-weight: 500;
    }

    .allTours {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        margin: 50px 30px 15px auto;
    }

    .allTours p {
        font-size: 27px;
    }

    .tourContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 2rem);
        padding-right: 0;
        gap: 15px;
        margin: 0 auto;
    }

    .bannerContainer {
        width: 750px;
    }

    .innerBox {
        width: 480px;
    }

    .innerBox p:first-child {
        font-size: 32px;
        color: #FFFFFF;
        margin-right: 25px;
    }

    .innerBox p:first-child span {
        font-size: 32px;
    }

    .innerBox p:last-child {
        font-size: 24px;
    }

    .cartoon {
        width: 255px;
        height: 215px;
        margin-right: -260px;
        margin-top: 34px;
    }

    .innerWhiteBox {
        margin: 66px 60px 8px 0;
    }

    .moreInfo {
        margin-right: 51px;
    }

    .moreToursContainer {
        width: 750px;
    }

    .circle {
        width: 49px;
        height: 49px;
    }

    .qmark {
        font-size: 33px;
        margin-right: -32px;
        margin-top: 2px;
    }

    .spanBox {
        font-size: 36px;
    }

    .moreToursText p:first-child {
        font-size: 21px;
    }

    .moreToursText p:last-child {
        width: 350px;
        font-size: 18px;
    }

    .commercialBox {
        gap: 0;
    }

    .Box img {
        width: 81px;
        height: 75px;
    }

    .BoxText p:first-child {
        font-size: 22px;
        margin-right: 0;
    }

    .BoxText p:last-child {
        font-size: 14px;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 auto;
    }

    .intro p {
        font-size: 16px;
    }

    .intro span {
        font-size: 16px;
    }

    .allTours {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 50px auto 15px 230px;
    }

    .allTours p {
        font-size: 20px;
    }

    .tourContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 0 auto;
    }

    .tour {
        width: 327px;
        height: 277px;
    }

    .tour img {
        width: 326px;
        height: 159px;
    }

    .bannerContainer {
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 190px;
        border: 1px solid #00000040;
    }

    .greenBox {
        display: flex;
    }

    .innerBox {
        width: 325px;
        height: 128px;
        display: flex;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .innerBox p:first-child {
        display: flex;
        justify-content: flex-start;
        font-size: 21px;
        margin-right: 5px;
        margin-top: 9px;
    }

    .innerBox p:first-child span {
        font-size: 21px;
    }

    .innerBox p:last-child {
        font-size: 14px;
        margin-right: 6px;
    }

    .cartoon {
        width: 195px;
        height: 158px;
        position: relative;
        right: 65px;
        bottom: 64px;
    }

    .whiteBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin: -57px auto;
    }

    .innerWhiteBox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .innerWhiteBox p:first-child {
        font-size: 20px;
    }

    .call {
        width: 20px;
        height: 20px;
    }

    .moreInfo {
        width: 136px;
        height: 38px;
        border-radius: 9px;
        padding: 8px;
        gap: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        margin-right: 0;
    }

    .moreInfo p {
        font-size: 14px;
        text-align: center;
    }

    .moreToursContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 334px;
        height: 386px;
        margin: 120px auto 75px auto;
    }

    .moreToursBox {
        display: flex;
        justify-content: flex-start;
    }

    .circle {
        display: none;
    }

    .moreToursTitle img {
        display: inline-block;
        width: 34px;
        height: 38px;
        border-radius: 10px;
    }

    .qmark {
        font-family: Vazirmatn-Medium, Arial, Helvetica, sans-serif;
        font-size: 24px;
        position: relative;
        right: 14px;
        bottom: 2px;
    }

    .spanBox span {
        font-size: 24px;
    }

    .moreToursText {
        display: none;
    }

    .border {
        width: 635px;
        margin: 0 auto;
    }

    .commercialBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px auto 10px auto;
        gap: 60px;
    }

    .Box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Box img {
        width: 71px;
        height: 64px;
    }

    .BoxText {
        gap: 5px;
    }

    .BoxText p:first-child {
        font-size: 14px;
    }

    .BoxText p:last-child {
        width: 225px;
        height: 41px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .border {
        width: 335px;
        margin: 0 auto;
    }
}