.container {
    width: 1188px;
    height: 427px;
    margin: 40px auto;
    background-color: #FFFFFF;
    border: 1px solid #00000040;
    border-radius: 10px;
}

html[data-theme="dark"] .container {
    background-color: #121212;
    border: none;
    border-top: 2px solid #23913c;
    border-left: 2px solid #23913c;
}

.mobileContainer {
    display: none;
}

.tourContainer {
    display: flex;
    margin: 30px 20px;
    gap: 30px;
}

.img {
    border-radius: 12px;
}

.title {
    font-family: YekanBakh-Bold, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: #000000;
}

html[data-theme="dark"] .title {
    color: #e6e6e6;
}

.options {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #282828;
    margin: 15px 0;
}

html[data-theme="dark"] .options {
    color: lightgray;
}

.description {
    display: flex;
    gap: 40px;
    margin: 30px 10px;
}

.userBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .userBox img {
    filter: brightness(0) invert(1);
}

.userBox p {
    font-family: YekanBakh-Light, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #7D7D7D;
}

html[data-theme="dark"] .userBox p {
    color: #e6e6e6;
}

.planBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .planBox img {
    filter: brightness(0) invert(1);
}

.planBox p {
    font-family: YekanBakh-Light, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #7D7D7D;
}

html[data-theme="dark"] .planBox p {
    color: #e6e6e6;
}

.medalBox {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .medalBox img {
    filter: brightness(0) invert(1);
}

.medalBox p {
    font-family: YekanBakh-Light, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #7D7D7D;
}

html[data-theme="dark"] .medalBox p {
    color: #e6e6e6;
}

.reserveBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.reserveBox p {
    font-family: Vazir-Medium-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #009ECA;
}

.reserveBox span {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #282828CC;
    margin: 0 5px;
}

html[data-theme="dark"] .reserveBox span {
    color: #D9D9D9;
}

.detailsContainer {
    display: flex;
    margin: 10px 25px;
}

.originBox {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.originBox p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
}

html[data-theme="dark"] .originBox p {
    color: #D9D9D9;
}

.origin {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .origin img {
    filter: brightness(0) invert(1);
}

.origin p {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}

html[data-theme="dark"] .origin p {
    color: #e6e6e6;
}

.border {
    width: 84px;
    height: 1px;
    border: 1px solid #00000030;
    rotate: -90deg;
    margin: 38px 10px;
}

html[data-theme="dark"] .border {
    border: 1px solid darkgrey;
}

.startDateBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.startDateBox p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
}

html[data-theme="dark"] .startDateBox p {
    color: #D9D9D9;
}

.startDate {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .startDateBox img {
    filter: brightness(0) invert(1);
}

.startDate p {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}

html[data-theme="dark"] .startDate p {
    color: #e6e6e6;
}

.endDateBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.endDateBox p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
}

html[data-theme="dark"] .endDateBox p {
    color: #D9D9D9;
}

.endDate {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .endDate img {
    filter: brightness(0) invert(1);
}

.endDate p {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}

html[data-theme="dark"] .endDate p {
    color: #e6e6e6;
}

.vehicleBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.vehicleBox p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
}

html[data-theme="dark"] .vehicleBox p {
    color: #D9D9D9;
}

.vehicle {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .vehicle img {
    filter: brightness(0) invert(1);
}

.vehicle p {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}

html[data-theme="dark"] .vehicle p {
    color: #e6e6e6;
}

.capacityBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.capacityBox p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
}

html[data-theme="dark"] .capacityBox p {
    color: #D9D9D9;
}

.capacity {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .capacity img {
    filter: brightness(0) invert(1);
}

.capacity p {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}

html[data-theme="dark"] .capacity p {
    color: #e6e6e6;
}

.capacityBorder {
    width: 84px;
    height: 1px;
    border: 1px solid #00000030;
    rotate: -90deg;
    margin: 38px 0;
}

html[data-theme="dark"] .capacityBorder {
    border: 1px solid darkgrey;
}

.insuranceBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.insuranceBox p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
}

html[data-theme="dark"] .insuranceBox p {
    color: #D9D9D9;
}

.insurance {
    display: flex;
    align-items: center;
    gap: 10px;
}

html[data-theme="dark"] .insurance img {
    filter: brightness(0) invert(1);
}

.insurance p {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}

html[data-theme="dark"] .insurance p {
    color: #e6e6e6;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
        border: none;
    }
    html[data-theme="dark"] .container {
        border: none;
    }
    .tourContainer {
        margin: 30px 50px;
    }
    .img {
        margin-top: 30px;
    }
    .title {
        margin-top: 30px;
    }
    .detailsContainer {
        margin: 10px 60px;
    }
}

@media (max-width: 1050px) {
    .tourContainer {
        margin: 30px 10px;
    }
    .detailsContainer {
        margin: 10px 100px;
    }
    .startDateBox p {
        white-space: nowrap;
    }
    .endDateBox p {
        white-space: nowrap;
    }
    .vehicleBox p {
        white-space: nowrap;
    }
    .capacityBox p {
        white-space: nowrap;
    }
    .border {
        margin: 38px 0;
    }
    .reserveBox {
        margin: 0 30px;
    }
}

@media (max-width: 900px) {
    .container {
        display: none;
    }
    .mobileContainer {
        display: flex;
        flex-direction: column;
    }
    .tourContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .img {
        width: 490px;
        height: 250px;
    }
    .mobileTourTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 140px;
    }
    .title {
        margin: 0;
        font-size: 27px;
    }
    .options {
        margin: 0;
        font-size: 17px;
    }
    html[data-theme="dark"] .options {
        margin: -1px 0 0 0;
    }
    .description {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        gap: 30px;
    }
    .userBox img {
        width: 18px;
        height: 18px;
    }
    .userBox p {
        font-size: 16px;
    }
    .planBox img {
        width: 18px;
        height: 18px;
    }
    .planBox p {
        font-size: 16px;
    }
    .medalBox img {
        width: 18px;
        height: 18px;
    }
    .medalBox p {
        font-size: 16px;
    }
    .detailsBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
        margin: 45px auto 30px auto;
    }
    .vehicleBox p {
        font-size: 16px;
        text-align: center;
    }
    .vehicle img {
        width: 20px;
        height: 20px;
    }
    .vehicle p {
        font-size: 16px;
    }
    .capacityBox p {
        font-size: 16px;
        text-align: center;
    }
    .capacity img {
        width: 20px;
        height: 20px;
    }
    .capacity p {
        font-size: 16px;
    }
    .insuranceBox p {
        font-size: 16px;
        text-align: center;
    }
    .insurance img {
        width: 20px;
        height: 20px;
    }
    .insurance p {
        font-size: 16px;
    }
    .reserveBox {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        gap: 90px;
        margin-bottom: 30px;
    }
    .reserveBox p {
        font-size: 26px;
        font-weight: 100;
    }
    .reserveBox span {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    .img {
        width: 400px;
        height: 240px;
    }
    .mobileTourTitle {
        gap: 120px;
    }
    .title {
        font-size: 24px;
    }
    .options {
        font-size: 15px;
    }
    .userBox img {
        width: 14px;
        height: 14px;
    }
    .userBox p {
        font-size: 13px;
    }
    .planBox img {
        width: 14px;
        height: 14px;
    }
    .planBox p {
        font-size: 13px;
    }
    .medalBox img {
        width: 14px;
        height: 14px;
    }
    .medalBox p {
        font-size: 13px;
    }
    .detailsBox {
        gap: 55px;
    }
    .vehicleBox p {
        font-size: 14px;
    }
    .vehicle img {
        width: 16px;
        height: 16px;
    }
    .capacityBox p {
        font-size: 14px;
    }
    .capacity img {
        width: 16px;
        height: 16px;
    }
    .insuranceBox p {
        font-size: 14px;
    }
    .insurance img {
        width: 16px;
        height: 16px;
    }
    .reserveBox {
        gap: 50px;
        padding-top: 0;
    }
    .reserveBox p {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .img {
        width: 330px;
        height: 220px;
    }
}
