.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    gap: 20px;
}

.noData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 140px auto;
    gap: 20px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noData p {
    font-family: YekanBakh-Bold, Arial, Helvetica, sans-serif;
    font-size: 29px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    background-color: #28A745;
    color: #FFFFFF;
    padding: 10px 80px;
    border-radius: 15px;
    cursor: pointer;
}

.loadingBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInfoBox {
    display: flex;
    flex-direction: column;
    width: 865px;
    height: 228px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #00000033;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 20px 20px 0;
}

.userInfo p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.allInputs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 20px;
    gap: 15px;
}

.nameInput {
    width: 262px;
    height: 50px;
    border: 1px solid #00000080;
    border-radius: 5px;
    padding: 8px;
    gap: 8px;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.nameInput:focus {
    outline: none;
}

.nameInput::placeholder {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #00000080;
}

.nationalCodeInput {
    width: 262px;
    height: 50px;
    border: 1px solid #00000080;
    border-radius: 5px;
    padding: 8px;
    gap: 8px;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.nationalCodeInput:focus {
    outline: none;
}

.nationalCodeInput::placeholder {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #00000080;
}

.birthDateWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.calendarImg {
    display: flex;
    position: absolute;
    right: 10px;
}

.birthDateInput {
    width: 262px;
    height: 50px;
    border: 1px solid #00000080;
    border-radius: 5px;
    padding: 8px 30px 8px 8px;
    gap: 8px;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.birthDateInput:focus {
    outline: none;
}

.birthDateInput::placeholder {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #00000080;
}

.genderInputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.arrowImg {
    display: flex;
    position: absolute;
    left: 10px;
}

.genderInput {
    width: 262px;
    height: 50px;
    border: 1px solid #00000080;
    border-radius: 5px;
    padding: 8px;
    gap: 8px;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
}

.genderInput:focus {
    outline: none;
}

.genderInput::placeholder {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #00000080;
}

.userBasket {
    display: flex;
    flex-direction: column;
    width: 307px;
    height: 228px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.tourInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 70px;
}

.tourInfo p:first-child {
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #000000;
}

.tourInfo p:last-child {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #8D8D8D;
}

.border {
    width: 307px;
    height: 1px;
    background: repeating-linear-gradient(
            to right,
            #00000080 0 6px,
            transparent 6px 12px
    );
    margin: 10px 0 10px 0;
}

.priceInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 15px auto 25px auto;
}

.priceInfo p:first-child {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #282828;
}

.priceInfo p:last-child {
    font-family: Vazir-Medium-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #009ECA;
}

.priceInfo span {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #282828CC;
    margin: 0 5px;
}

.btn {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 283px;
    height: 56px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    padding: 8px;
    gap: 8px;
    background-color: #28A745;
    color: #FFFFFF;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3.5px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.loaderBox {
    width: 200px;
    height: 170px;
    opacity: 1;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.torinoBG {
    margin-top: 15px;
}

.error {
    border: 1px solid #fa1e1e;
}

.error::placeholder {
    color: #fa1e1e;
    opacity: 1;
}

.suggestedGendersList {
    width: 150px;
    font-family: Vazir-Medium-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 16px;
    position: absolute;
    margin: 270px auto 0 auto;
    color: dimgrey;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

.suggestedBox {
    padding: 9px;
    border-bottom: 1px solid #0000001F;
}

.suggestedBox:hover {
    background-color: #28A74540;
}

@media (max-width: 1184px) {
    .suggestedGendersList {
        position: absolute;
        margin-right: 280px;
    }
}

@media (max-width: 900px) {
    .container {
        gap: 0;
    }
    .userInfoBox {
        width: 600px;
        height: 240px;
        border: none;
        margin-right: 10px;
    }
    .allInputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin: 0 25px 0 0;
        gap: 15px;
    }
    .nameInput, .nationalCodeInput, .birthDateInput, .genderInput {
        width: 220px;
        height: 50px;
    }
    .userBasket {
        margin-left: 30px;
    }
    .suggestedGendersList {
        position: absolute;
        margin-right: 235px;
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .userInfoBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 328px;
        height: 359px;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid #00000033;
        margin: 0 auto;
    }
    .userInfo {
        margin: 15px 30px 10px 0;
    }
    .allInputs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 23px;
    }
    .suggestedGendersList {
        position: absolute;
        margin-top: 135px;
        margin-right: 0;
        margin-left: 70px;
        z-index: 1;
    }
    .nationalCodeInput {
        order: 1;
    }
    .birthDateWrapper {
        order: 2;
    }
    .userBasket {
        width: 328px;
        height: 228px;
        border: 1px solid #0000001A;
        margin: 0 auto;
    }
    .tourInfo p:last-child {
        font-weight: 500;
        color: #8D8D8D;
    }
    .priceInfo {
        margin: 15px auto;
    }
}


