/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/modules/tour/components/HeaderSlider.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.HeaderSlider_carousel__PrFsa {
    display: flex;
    justify-content: center;
    height: 480px;
    width: 100%;
    margin: 0 auto;
}

.HeaderSlider_carousel_wrapper__nuTGM {
    position: relative;
    width: 100%;
    height: 100%;
}

.HeaderSlider_carousel_card__kMbWj {
    display: flex;
    flex: 1 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.8s ease-in-out;
}

.HeaderSlider_carousel_card_active__c6lHx {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

.HeaderSlider_card_image__MMS29 {
    width: 100%;
    object-fit: cover;
}

.HeaderSlider_carousel_arrow_left__pee1s,
.HeaderSlider_carousel_arrow_right__sThPV {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    padding-bottom: 7px;
    cursor: pointer;
}

.HeaderSlider_carousel_arrow_left__pee1s:hover,
.HeaderSlider_carousel_arrow_right__sThPV:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translate(0, -50%) scale(1.1);
}

.HeaderSlider_carousel_arrow_left__pee1s {
    left: 15px;
}

.HeaderSlider_carousel_arrow_right__sThPV {
    right: 15px;
}

.HeaderSlider_chevronLeft__MJIrh {
    margin-top: 6px;
    margin-right: 3px;
}

.HeaderSlider_chevronRight__IoupN {
    margin-top: 6px;
    margin-left: 2px;
}

.HeaderSlider_carousel_pagination__HGwDL {
    direction: ltr;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.HeaderSlider_pagination_dot__Zr5Re {
    height: 12px;
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.HeaderSlider_pagination_dot__Zr5Re:hover {
    transform: scale(1.2);
}

.HeaderSlider_pagination_dot_active__v0cVQ {
    background-color: #28A745;
}

@media (max-width: 1200px) {
    .HeaderSlider_carousel_card__kMbWj {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
    }
    .HeaderSlider_card_image__MMS29 {
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .HeaderSlider_carousel_pagination__HGwDL {
        bottom: 40px;
    }
}

@media (max-width: 900px) {
    .HeaderSlider_carousel__PrFsa {
        height: 340px;
    }
    .HeaderSlider_carousel_card__kMbWj {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
    }
    .HeaderSlider_card_image__MMS29 {
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .HeaderSlider_carousel_arrow_left__pee1s,
    .HeaderSlider_carousel_arrow_right__sThPV {
        top: 88%;
        transform: translate(0, -50%);
    }

    .HeaderSlider_carousel_pagination__HGwDL {
        top: 88%;
    }
}

@media (max-width: 768px) {
    .HeaderSlider_carousel__PrFsa {
        height: 280px;
    }

    .HeaderSlider_carousel_card__kMbWj {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: -moz-fit-content;
        height: fit-content;
    }

    .HeaderSlider_card_image__MMS29 {
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .HeaderSlider_carousel_arrow_left__pee1s,
    .HeaderSlider_carousel_arrow_right__sThPV {
        top: 92%;
        transform: translate(0, -50%);
        font-size: 20px;
        width: 27px;
        height: 27px;
    }

    .HeaderSlider_carousel_pagination__HGwDL {
        top: 89%;
    }

    .HeaderSlider_pagination_dot__Zr5Re {
        height: 7px;
        width: 7px;
    }
}

@media (max-width: 480px) {
    .HeaderSlider_carousel__PrFsa {
        height: 180px;
    }

    .HeaderSlider_carousel_arrow_left__pee1s,
    .HeaderSlider_carousel_arrow_right__sThPV {
        top: 90%;
    }

    .HeaderSlider_carousel_pagination__HGwDL {
        top: 85%;
    }
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/modules/tour/components/Slider.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.Slider_container__FDEhf {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 185px;
    perspective: 1000px;
}

.Slider_slide__JPBpn {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    transform-origin: center center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 80px;
}

@media (max-width: 1200px) {
    .Slider_container__FDEhf {
        width: 300px;
        height: 280px;
        margin: 0 120px 0 0;
    }
    .Slider_slide__JPBpn img {
        width: 350px;
        height: 460px;
    }
}

@media (max-width: 900px) {
    .Slider_container__FDEhf {
        width: 300px;
        height: 280px;
        margin: 0 40px 0 0;
    }
    .Slider_slide__JPBpn img {
        width: 300px;
        height: 380px;
    }
}

@media (max-width: 768px) {
    .Slider_container__FDEhf {
        width: 255px;
        height: 284px;
        margin: 0;
    }
    .Slider_slide__JPBpn img {
        width: 255px;
        height: 284px;
        border-radius: 35px;
    }
}



/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/modules/tour/components/TourSearch.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.TourSearch_searchBox__95ln8 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 874px;
    height: 71px;
    margin: 25px auto;
    border-radius: 20px;
    border: 1px solid #00000026;
    padding: 15px 18px 15px 10px;
    background-color: #FFFFFF;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
}

.TourSearch_responsiveSearchBox__JioJz {
    display: none;
}

.TourSearch_originBoxWrapper__J0Lq7 {
    width: 20%;
    position: relative;
}

.TourSearch_originBox__8cAs4 {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    margin-right: -10px;
}

.TourSearch_originBox__8cAs4 input {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2C2C2C;
    border: none;
    outline: none;
    background-color: transparent;
}

.TourSearch_originBox__8cAs4 input::placeholder {
    color: #2C2C2C;
}

.TourSearch_suggestedOrigins__ZCL9F {
    position: absolute;
    top: 190%;
    right: -10px;
    background: #FFFFFF;
    width: 190px;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #00000033;
    border-radius: 8px;
    z-index: 10;
    cursor: pointer;
}

.TourSearch_highTraffic__MCzH5 {
    width: 190px;
    position: absolute;
    top: 0;
    right: -1px;
    margin-top: -25px;
    background-color: #f4f4f4;
    border: 1px solid #00000033;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.TourSearch_highTraffic__MCzH5 p {
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-right: 5px;
    padding: 5px;
    color: #282828B2;
}

.TourSearch_suggestedBox__LlMdf {
    padding: 5px;
    border-bottom: 1px solid #0000001F;
}

.TourSearch_suggestedBox__LlMdf:last-child {
    border-bottom: none;
}

.TourSearch_suggestedNames___dHi_ {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 5px;
}

.TourSearch_suggestedNames___dHi_:hover {
    background-color: #eeeeee;
    border-radius: 10px;
}

.TourSearch_suggestedNames___dHi_ p {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #282828;
}

.TourSearch_firstBlock__tBUjm {
    width: 56px;
    height: 1px;
    background: #00000033;
    rotate: -90deg;
}

.TourSearch_destinationBoxWrapper__UOQ7T {
    width: 20%;
    position: relative;
}

.TourSearch_destinationBox__0V2GM {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    margin-right: -20px;
}

.TourSearch_destinationBox__0V2GM input {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2C2C2C;
    border: none;
    outline: none;
    background-color: transparent;
}

.TourSearch_destinationBox__0V2GM input::placeholder {
    color: #2C2C2C;
}

.TourSearch_suggestedDestinations__OfKVR {
    position: absolute;
    top: 140%;
    right: -20px;
    background: #FFFFFF;
    width: 195px;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid #00000033;
    border-radius: 8px;
    z-index: 10;
    cursor: pointer;
}

.TourSearch_secondBlock__0LQiF {
    width: 56px;
    height: 1px;
    background: #00000033;
    rotate: -90deg;
    margin-right: 25px;
}

.TourSearch_dateBox__mUubq {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 24%;
    margin-right: -20px;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2C2C2C;
}

.TourSearch_dateBox__mUubq p {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2C2C2C;
}

.TourSearch_calendarPose__FRosk {
    position: absolute;
    top: 20px;
    left: 26%;
}

.TourSearch_searchBtn__5AtPw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 51px;
    border-radius: 16px;
    background-color: #28A745;
    padding: 8px;
    cursor: pointer;
}

.TourSearch_searchBtn__5AtPw p {
    display: flex;
    align-items: center;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: #FFFFFF;
    text-align: center;
}

.TourSearch_mobileSearchBtn__K7W1o {
    display: none;
}

@media (max-width: 900px) {
    .TourSearch_searchBox__95ln8 {
        display: none;
    }
    .TourSearch_responsiveSearchBox__JioJz {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 10px;
    }
    .TourSearch_hidden__IJIz0 {
        display: none;
    }
    .TourSearch_pathWrapper__fR8MT {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    .TourSearch_orgBox__0PMCe {
        display: flex;
        align-items: center;
        position: relative;
    }
    .TourSearch_orgImg__aqY5N {
        position: absolute;
        right: 30%;
    }
    .TourSearch_orgBox__0PMCe input, .TourSearch_desBox__JkKiu input {
        width: 160px;
        height: 47px;
        border-radius: 12px;
        border: 1px solid #00000026;
        padding: 10px;
        font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #2C2C2C;
        outline: none;
    }
    .TourSearch_centerPose__yU8C4 {
        text-align: center;
    }
    .TourSearch_orgBox__0PMCe input::placeholder {
        position: absolute;
        right: 75px;
    }
    .TourSearch_suggestedOrigins__ZCL9F {
        width: 160px;
        height: -moz-fit-content;
        height: fit-content;
        position: absolute;
        top: 170%;
        right: 0;
    }
    .TourSearch_highTraffic__MCzH5 {
        width: 160px;
    }
    .TourSearch_highTraffic__MCzH5 p {
        font-size: 12.5px;
    }
    .TourSearch_suggestedNames___dHi_ img {
        width: 19px;
        height: 19px;
    }
    .TourSearch_suggestedNames___dHi_ p {
        font-size: 14px;
    }
    .TourSearch_desBox__JkKiu {
        display: flex;
        align-items: center;
        position: relative;
    }
    .TourSearch_desImg__RIsCe {
        position: absolute;
        right: 25%;
    }
    .TourSearch_desBox__JkKiu input::placeholder {
        position: absolute;
        right: 70px;
    }
    .TourSearch_suggestedDestinations__OfKVR {
        width: 160px;
        height: -moz-fit-content;
        height: fit-content;
        position: absolute;
        top: 120%;
        right: 0;
    }
    .TourSearch_calendarBox__X4iIm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
        width: 328px;
        height: 47px;
        background-color: #FFFFFF;
        border: 1px solid #00000026;
        border-radius: 12px;
        padding: 10px;
        font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        text-align: center;
    }
    .TourSearch_calendarBox__X4iIm input {
        width: 100%;
    }
    .TourSearch_calendarBox__X4iIm img {
        position: absolute;
        top: 30%;
        right: 40%;
    }
    .TourSearch_calendarBox__X4iIm p {
        font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #8D7D7D;
        z-index: 2;
        position: absolute;
        top: 22%;
        right: 50%;
    }
    .TourSearch_calendarPose__FRosk {
        position: absolute;
        top: 20px;
        right: -2%;
    }
    .TourSearch_mobileSearchBtn__K7W1o {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        width: 328px;
        height: 47px;
        border-radius: 16px;
        padding: 8px;
        background-color: #28A745;
        cursor: pointer;
    }
    .TourSearch_mobileSearchBtn__K7W1o p {
        display: flex;
        align-items: center;
        font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .TourSearch_calendarPose__FRosk {
        position: absolute;
        top: 100px;
        right: -2%;
        z-index: 2;
    }
}

@media (max-width: 480px) {
    .TourSearch_calendarPose__FRosk {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
    }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/modules/tour/pages/HomePage.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.HomePage_container__hGT_I {
    margin: 0 auto;
    background-color: var(--bg-main);
}

.HomePage_intro__PRFag p {
    display: flex;
    justify-content: center;
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #595959;
    text-align: center;
    margin: 25px auto;
}

html[data-theme="dark"] .HomePage_intro__PRFag p {
    color: #e6e6e6;
}

.HomePage_intro__PRFag span {
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #28A745;
    margin: 0 5px;
}

.HomePage_allTours__72Jb_ {
    width: 1188px;
    margin: 100px auto 10px auto;
}

.HomePage_allTours__72Jb_ p {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

html[data-theme="dark"] .HomePage_allTours__72Jb_ p {
    color: #e6e6e6;
}

.HomePage_tourNotFound__VlD4J {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 25px;
    background-color: #D8FFE1;
    padding: 10px;
    border-radius: 10px;
    color: #282828;
    margin: 50px auto;
}

html[data-theme="dark"] .HomePage_tourNotFound__VlD4J {
    background-color: #10411B;
    color: #e6e6e6;
}

.HomePage_tourContainer__YklfI {
    display: flex;
    flex-flow: row wrap;
    width: 1188px;
    gap: 25px;
    margin: 0 auto;
}

.HomePage_tour___pI_J {
    width: 278px;
    height: 277px;
    border: 1px solid #0000001F;
    border-radius: 10px;
}

html[data-theme="dark"] .HomePage_tour___pI_J {
    border: 1px solid #595959;
}

.HomePage_tourName__hVSwF {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    margin-right: 10px;
}

html[data-theme="dark"] .HomePage_tourName__hVSwF {
    color: #e6e6e6;
}

.HomePage_tourOptions__P97lt {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #282828B2;
    margin-top: 5px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

html[data-theme="dark"] .HomePage_tourOptions__P97lt {
    color: #A9A9A9FF;
}

.HomePage_priceBox__q08PP {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin-top: 15px;
    border-top: 1px solid #0000001F;
}

html[data-theme="dark"] .HomePage_priceBox__q08PP {
    border-top: 1px solid #595959;
}

.HomePage_reserveBtn__thPqO {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    color: #FFFFFF;
    background-color: #28A745;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.HomePage_priceBox__q08PP p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #009ECA;
    margin-top: 5px;
    margin-left: 14px;
}

.HomePage_priceBox__q08PP p span {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

html[data-theme="dark"] .HomePage_priceBox__q08PP p span {
    color: #A9A9A9FF;
}

.HomePage_bannerContainer__dvZcC {
    display: flex;
    width: 1188px;
    height: 251px;
    border: 1px solid #00000040;
    border-radius: 11px;
    margin: 100px auto 0 auto;
}

html[data-theme="dark"] .HomePage_bannerContainer__dvZcC {
    border: 1px solid #595959;
}

.HomePage_innerBox__0VYLf {
    display: flex;
    flex-direction: column;
    width: 869px;
    background-color: #28A745;
    border-radius: 10px;
}

.HomePage_innerBox__0VYLf p:first-child {
    font-family: YekanBakh-Bold, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;
    margin: 30px 60px 10px 0;
}

.HomePage_innerBox__0VYLf p:first-child span {
    font-family: YekanBakh-Bold, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: #10411B;
    margin-right: 10px;
}

.HomePage_innerBox__0VYLf p:last-child {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin-right: 60px;
}

.HomePage_greenBox__GBJiI {
    display: flex;
}

.HomePage_cartoon__s_I84 {
    margin-right: -340px;
    margin-top: 25px;
}

.HomePage_whiteBox__QFjDz {
    display: flex;
    flex-direction: column;
}

.HomePage_innerWhiteBox___AD1W {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    margin: 66px 110px 8px 0;
}

.HomePage_innerWhiteBox___AD1W p {
    font-family: Vazir-Medium-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #000000;
}

html[data-theme="dark"] .HomePage_innerWhiteBox___AD1W p {
    color: #ffffff;
}

.HomePage_moreInfo__VbSnR {
    width: 175px;
    height: 41px;
    padding: 8px;
    gap: 8px;
    border-radius: 9px;
    background-color: #10411B;
    margin-right: 100px;
}

html[data-theme="dark"] .HomePage_call__Y7Ni9 {
    filter: brightness(0) invert(1);
}

.HomePage_moreInfo__VbSnR p {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.HomePage_moreToursContainer__G7w9G {
    display: flex;
    width: 1182px;
    margin: 150px auto 160px auto;
}

.HomePage_moreToursBox__LCCz5 {
    display: flex;
    flex-direction: column;
}

.HomePage_moreToursTitle__NZ8KY {
    display: flex;
}

.HomePage_moreToursTitle__NZ8KY img {
    display: none;
}

.HomePage_circle__WxWNq {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background: linear-gradient(180deg, #28A745 0%, #10411B 100%);
}

.HomePage_qmark__THJZa {
    font-family: Vazirmatn-Black, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 38px;
    color: #FFFFFF;
    margin-right: -36px;
    margin-top: 3px;
}

.HomePage_spanBox__g_0AZ {
    display: flex;
    font-family: Vazirmatn-Bold, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-right: 35px;
    margin-top: -3px;
}

.HomePage_spanBox__g_0AZ span:first-child {
    color: #282828;
}

html[data-theme="dark"] .HomePage_spanBox__g_0AZ span:first-child {
    color: #e6e6e6;
}

.HomePage_spanBox__g_0AZ span:nth-child(2) {
    color: #28A745;
    margin: 0 10px;
}

.HomePage_spanBox__g_0AZ span:last-child {
    color: #282828;
}

html[data-theme="dark"] .HomePage_spanBox__g_0AZ span:last-child {
    color: #e6e6e6;
}

.HomePage_moreToursText__WGNhe {
    display: flex;
    flex-direction: column;
}

.HomePage_moreToursText__WGNhe p:first-child {
    font-family: Vazirmatn-Medium, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #282828;
    margin: 30px 0 20px 0;
}

html[data-theme="dark"] .HomePage_moreToursText__WGNhe p:first-child {
    color: #e6e6e6;
}

.HomePage_moreToursText__WGNhe p:last-child {
    width: 517px;
    height: 264px;
    text-align: justify;
    font-family: IranianSans, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 220%;
    color: #282828;
}

html[data-theme="dark"] .HomePage_moreToursText__WGNhe p:last-child {
    color: #e6e6e6;
}

.HomePage_border__tAN2G {
    border: 1px solid #00000022;
    margin-bottom: 20px;
}

html[data-theme="dark"] .HomePage_border__tAN2G {
    border: 1px solid #D8FFE1;
}

.HomePage_commercialBox__eosUQ {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 0 30px 0;
    gap: 110px;
    background-color: var(--bg-main);
}

.HomePage_Box__F_hbO {
    display: flex;
    align-items: center;
}

.HomePage_BoxText__5kFPU {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.HomePage_BoxText__5kFPU p:first-child {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 26px;
    color: #282828;
    margin-right: 10px;
}

html[data-theme="dark"] .HomePage_BoxText__5kFPU p:first-child {
    color: #e6e6e6;
}

.HomePage_BoxText__5kFPU p:last-child {
    width: 202px;
    height: 50px;
    font-family: Vazir-Light-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #282828;
    margin-right: 10px;
}

html[data-theme="dark"] .HomePage_BoxText__5kFPU p:last-child {
    color: #e6e6e6;
}

@media (max-width: 1200px) {
    .HomePage_container__hGT_I {
        margin: 0 auto;
    }

    .HomePage_allTours__72Jb_ {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        margin: 100px 40px 10px auto;
    }

    .HomePage_tourContainer__YklfI {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 2rem);
        padding-right: 20px;
        gap: 10px;
        margin: 0 auto;
    }

    .HomePage_bannerContainer__dvZcC {
        width: 900px;
        height: 251px;
        margin: 100px auto 0 auto;
    }

    .HomePage_innerBox__0VYLf {
        width: 580px;
    }

    .HomePage_innerBox__0VYLf p:first-child {
        display: flex;
        justify-content: flex-start;
        font-size: 42px;
        color: #FFFFFF;
        margin-right: 20px;
    }

    .HomePage_innerBox__0VYLf p:first-child span {
        font-size: 42px;
    }

    .HomePage_innerBox__0VYLf p:last-child {
        font-size: 29px;
        margin-right: 25px;
    }

    .HomePage_cartoon__s_I84 {
        margin-right: -320px;
    }

    .HomePage_innerWhiteBox___AD1W {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        margin: 66px 95px 8px 0;
    }

    .HomePage_moreInfo__VbSnR {
        margin-right: 85px;
    }

    .HomePage_moreToursContainer__G7w9G {
        width: 900px;
        margin: 150px auto 160px auto;
    }

    .HomePage_moreToursText__WGNhe p:last-child {
        width: 400px;
    }

    .HomePage_commercialBox__eosUQ {
        gap: 70px;
    }

    .HomePage_Box__F_hbO img {
        width: 90px;
        height: 85px;
    }

}

@media (max-width: 1050px)  {
    .HomePage_commercialBox__eosUQ {
        gap: 40px;
    }

    .HomePage_Box__F_hbO img {
        width: 80px;
        height: 75px;
    }
}

@media (max-width: 900px) {

    .HomePage_intro__PRFag p {
        font-size: 22px;
    }

    .HomePage_intro__PRFag span {
        font-size: 22px;
    }

    .HomePage_tourNotFound__VlD4J {
        width: 400px;
        font-size: 20px;
        font-weight: 500;
    }

    .HomePage_allTours__72Jb_ {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        margin: 50px 30px 15px auto;
    }

    .HomePage_allTours__72Jb_ p {
        font-size: 27px;
    }

    .HomePage_tourContainer__YklfI {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100% - 2rem);
        padding-right: 0;
        gap: 15px;
        margin: 0 auto;
    }

    .HomePage_bannerContainer__dvZcC {
        width: 750px;
    }

    .HomePage_innerBox__0VYLf {
        width: 480px;
    }

    .HomePage_innerBox__0VYLf p:first-child {
        font-size: 32px;
        color: #FFFFFF;
        margin-right: 25px;
    }

    .HomePage_innerBox__0VYLf p:first-child span {
        font-size: 32px;
    }

    .HomePage_innerBox__0VYLf p:last-child {
        font-size: 24px;
    }

    .HomePage_cartoon__s_I84 {
        width: 255px;
        height: 215px;
        margin-right: -260px;
        margin-top: 34px;
    }

    .HomePage_innerWhiteBox___AD1W {
        margin: 66px 60px 8px 0;
    }

    .HomePage_moreInfo__VbSnR {
        margin-right: 51px;
    }

    .HomePage_moreToursContainer__G7w9G {
        width: 750px;
    }

    .HomePage_circle__WxWNq {
        width: 49px;
        height: 49px;
    }

    .HomePage_qmark__THJZa {
        font-size: 33px;
        margin-right: -32px;
        margin-top: 2px;
    }

    .HomePage_spanBox__g_0AZ {
        font-size: 36px;
    }

    .HomePage_moreToursText__WGNhe p:first-child {
        font-size: 21px;
    }

    .HomePage_moreToursText__WGNhe p:last-child {
        width: 350px;
        font-size: 18px;
    }

    .HomePage_commercialBox__eosUQ {
        gap: 0;
    }

    .HomePage_Box__F_hbO img {
        width: 81px;
        height: 75px;
    }

    .HomePage_BoxText__5kFPU p:first-child {
        font-size: 22px;
        margin-right: 0;
    }

    .HomePage_BoxText__5kFPU p:last-child {
        font-size: 14px;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .HomePage_container__hGT_I {
        margin: 0 auto;
    }

    .HomePage_intro__PRFag p {
        font-size: 16px;
    }

    .HomePage_intro__PRFag span {
        font-size: 16px;
    }

    .HomePage_allTours__72Jb_ {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 50px auto 15px 230px;
    }

    .HomePage_allTours__72Jb_ p {
        font-size: 20px;
    }

    .HomePage_tourContainer__YklfI {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 0 auto;
    }

    .HomePage_tour___pI_J {
        width: 327px;
        height: 277px;
    }

    .HomePage_tour___pI_J img {
        width: 326px;
        height: 159px;
    }

    .HomePage_bannerContainer__dvZcC {
        display: flex;
        flex-direction: column;
        width: 327px;
        height: 190px;
        border: 1px solid #00000040;
    }

    .HomePage_greenBox__GBJiI {
        display: flex;
    }

    .HomePage_innerBox__0VYLf {
        width: 325px;
        height: 128px;
        display: flex;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .HomePage_innerBox__0VYLf p:first-child {
        display: flex;
        justify-content: flex-start;
        font-size: 21px;
        margin-right: 5px;
        margin-top: 9px;
    }

    .HomePage_innerBox__0VYLf p:first-child span {
        font-size: 21px;
    }

    .HomePage_innerBox__0VYLf p:last-child {
        font-size: 14px;
        margin-right: 6px;
    }

    .HomePage_cartoon__s_I84 {
        width: 195px;
        height: 158px;
        position: relative;
        right: 65px;
        bottom: 64px;
    }

    .HomePage_whiteBox__QFjDz {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin: -57px auto;
    }

    .HomePage_innerWhiteBox___AD1W {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .HomePage_innerWhiteBox___AD1W p:first-child {
        font-size: 20px;
    }

    .HomePage_call__Y7Ni9 {
        width: 20px;
        height: 20px;
    }

    .HomePage_moreInfo__VbSnR {
        width: 136px;
        height: 38px;
        border-radius: 9px;
        padding: 8px;
        gap: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        margin-right: 0;
    }

    .HomePage_moreInfo__VbSnR p {
        font-size: 14px;
        text-align: center;
    }

    .HomePage_moreToursContainer__G7w9G {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 334px;
        height: 386px;
        margin: 120px auto 75px auto;
    }

    .HomePage_moreToursBox__LCCz5 {
        display: flex;
        justify-content: flex-start;
    }

    .HomePage_circle__WxWNq {
        display: none;
    }

    .HomePage_moreToursTitle__NZ8KY img {
        display: inline-block;
        width: 34px;
        height: 38px;
        border-radius: 10px;
    }

    .HomePage_qmark__THJZa {
        font-family: Vazirmatn-Medium, Arial, Helvetica, sans-serif;
        font-size: 24px;
        position: relative;
        right: 14px;
        bottom: 2px;
    }

    .HomePage_spanBox__g_0AZ span {
        font-size: 24px;
    }

    .HomePage_moreToursText__WGNhe {
        display: none;
    }

    .HomePage_border__tAN2G {
        width: 635px;
        margin: 0 auto;
    }

    .HomePage_commercialBox__eosUQ {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px auto 10px auto;
        gap: 60px;
    }

    .HomePage_Box__F_hbO {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .HomePage_Box__F_hbO img {
        width: 71px;
        height: 64px;
    }

    .HomePage_BoxText__5kFPU {
        gap: 5px;
    }

    .HomePage_BoxText__5kFPU p:first-child {
        font-size: 14px;
    }

    .HomePage_BoxText__5kFPU p:last-child {
        width: 225px;
        height: 41px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .HomePage_border__tAN2G {
        width: 335px;
        margin: 0 auto;
    }
}
