.topBorder {
    border: 1px solid #00000022;
    margin: 0 120px;
}

html[data-theme="dark"] .topBorder {
    border: 1px solid #D8FFE1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin: 0 auto;
    gap: 190px;
}

.mobileContainer {
    display: none;
}

.torinoBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.torinoBox h3 {
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #282828;
    margin-bottom: 15px;
}

.torinoBox ul li {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #282828;
    margin: 10px 0;
    list-style: none;
    cursor: pointer;
}

.customerBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.customerBox h3 {
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #282828;
    margin-bottom: 15px;
}

.customerBox ul li {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #282828;
    margin: 10px 0;
    list-style: none;
    cursor: pointer;
}

html[data-theme="dark"] .torinoBox h3 {
    color: #e6e6e6;
}

html[data-theme="dark"] .torinoBox ul li {
    color: #e6e6e6;
}

html[data-theme="dark"] .customerBox h3 {
    color: #e6e6e6;
}

html[data-theme="dark"] .customerBox ul li {
    color: #e6e6e6;
}

.informationBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.torinoLogo {
    margin-bottom: 20px;
    margin-right: 390px;
}

html[data-theme="dark"] .torinoLogo {
    border-radius: 15px;
}

.supportBox {
    display: flex;
    gap: 4px;
    margin-right: 370px;
}

.supportBox p:first-child {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #282828;
}

.supportBox p:last-child {
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #282828;
}

html[data-theme="dark"] .supportBox p {
    color: #e6e6e6;
}


.logoBox {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.image {
    cursor: pointer;
}

.belowBorder {
    border: 1px solid #00000022;
}

html[data-theme="dark"] .belowBorder {
    border: 1px solid #D8FFE1;
}

.copyRight {
    display: flex;
    justify-content: center;
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #282828;
    margin: 20px auto;
}

html[data-theme="dark"] .copyRight {
    color: #e6e6e6;
}

@media (max-width: 1200px) {
    .container {
        gap: 130px;
    }
}

@media (max-width: 1050px)  {
    .container {
        gap: 60px;
    }
    .torinoBox ul li {
        white-space: nowrap;
        font-size: 16px;
    }
    .customerBox h3 {
        white-space: nowrap;
    }
    .customerBox ul li {
        white-space: nowrap;
        font-size: 16px;
    }
    .torinoLogo {
        margin-right: 390px;
    }
    .logoBox {
        gap: 30px;
        display: flex;
        justify-content: flex-end;
    }

}

@media (max-width: 900px) {
    .dashTopBorder {
        width: 735px;
        margin: 0 auto;
        border-image: repeating-linear-gradient(
                to right,
                #00000040 0,
                #00000040 8px,
                transparent 1px,
                transparent 20px
        ) 1;
    }
    html[data-theme="dark"] .dashTopBorder {
        border-image: repeating-linear-gradient(
                to right,
                #D8FFE1 0,
                #D8FFE1 8px,
                transparent 1px,
                transparent 20px
        ) 1;
    }
    .topBorder {
        width: 735px;
        margin: 0 auto;
    }
    .container {
        gap: 70px;
    }
    .torinoBox h3 {
        font-size: 21px;
    }
    .customerBox h3 {
        white-space: nowrap;
        font-size: 21px;
    }
    .torinoLogo {
        width: 136px;
        height: 44px;
        margin-right: 135px;
    }
    .supportBox {
        margin-right: 120px;
        margin-bottom: 15px;
    }
    .logoBox {
        gap: 20px;
        margin-top: 30px;
    }
    .logoBox img {
        width: 65px;
        height: 68px;
    }
}

@media (max-width: 768px) {
    .dashTopBorder {
        width: 635px;
    }
    .topBorder {
        width: 635px;
    }
    .container {
        gap: 70px;
    }
    .supportBox {
        margin-bottom: 20px;
    }
    .logoBox {
        gap: 10px;
        margin-bottom: 20px;
    }
    .logoBox img {
        width: 55px;
        height: 58px;
    }
}

@media (max-width: 480px) {
    .dashTopBorder {
        width: 335px;
    }
    .topBorder {
        width: 355px;
    }
    .container {
        display: none;
    }
    .mobileContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .linksWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
        margin: 40px auto 30px auto;
    }
    .torinoBox h3 {
        font-size: 22px;
    }
    .torinoBox ul li {
        font-size: 16px;
    }
    .customerBox h3 {
        font-size: 22px;
        white-space: nowrap;
    }
    .customerBox ul li {
        font-size: 16px;
    }
    .infoBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .phoneBox {
        display: flex;
        flex-direction: column;
        margin-top: -75px;
        margin-right: 200px;
    }
    .torinoLogo {
        width: 100px;
        height: 30px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    .supportBox {
        display: flex;
        white-space: nowrap;
        margin-right: 0;
    }
    .supportBox p:first-child, .supportBox p:last-child {
        font-size: 14px;
    }
    .logoBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0 0 0 200px;
    }
    .logoBox img {
        width: 35px;
        height: 38px;
    }
    .firstRow {
        display: flex;
        gap: 10px;
    }
    .secondRow {
        display: flex;
        gap: 10px;
    }
    .belowBorder {
        width: 375px;
        margin: 20px auto 0 auto;
    }
    .copyRight {
        font-family: YekanBakh-Light, Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 12px;
        margin: 10px auto;
        color: #000000;
    }
}