.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto 0 auto;
    gap: 160px;
}

.textBox {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 120px;
}

.textBox p:first-child {
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #282828;
}

html[data-theme="dark"] .textBox p:first-child {
    color: #e6e6e6;
}

.textBox p:last-child {
    font-family: YekanBakh-SemiBold, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #282828;
}

html[data-theme="dark"] .textBox p:last-child {
    color: #e6e6e6;
}

.imageBox {
    order: 2;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px auto 0 auto;
        gap: 0;
    }
    .textBox {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 170px;
    }
    .textBox p:first-child {
        font-size: 24px;
    }
    .textBox p:last-child {
        font-size: 16px;
    }
    .imageBox {
        order: 1;
    }
    .imageBox img {
        width: 322px;
        height: 322px;
    }
}