.container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    gap: 30px;
}

.selectOptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 284px;
    height: 170px;
    border: 1px solid #00000033;
    border-radius: 10px;
    cursor: pointer;
}

html[data-theme="dark"] .selectOptionContainer {
    align-items: center;
    border: none;
    border-top: 2px solid #23913c;
    border-left: 2px solid #23913c;
}

.box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16.5px 10px;
    border-radius: 5px;
}

html[data-theme="dark"] .box img {
    filter: brightness(0) invert(1);
}

.box p {
    font-family: YekanBakh-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #282828;
}

html[data-theme="dark"] .box p {
    color: #e6e6e6;
}

.border {
    width: 258px;
    height: 0;
    border: 1px solid #00000033;
    margin: 0 12px;
}

html[data-theme="dark"] .border {
    border: none;
}

.active {
    background-color: #28A74540;
}

html[data-theme="dark"] .active {
    background: none;
    border-bottom: 2px solid #28A745;
    border-radius: 0;
}

.active p {
    color: #28A745;
}

html[data-theme="dark"] .active p {
    color: #28A745;
}

.active .img {
    filter: brightness(0) saturate(100%) invert(41%) sepia(68%) saturate(494%) hue-rotate(77deg);
}

html[data-theme="dark"] .active .img {
    filter: brightness(0) saturate(100%) invert(41%) sepia(68%) saturate(494%) hue-rotate(77deg);
}

@media (max-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px auto 50px auto;
    }

    .selectOptionContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 90px;
        border: none;
        width: 490px;
        height: 50px;
        border-bottom: 1px solid #00000040;
        border-radius: 0;
        margin: 0 auto 15px auto;
    }

    html[data-theme="dark"] .selectOptionContainer {
        border: none;
    }

    .box {
        padding: 14px 10px;
    }

    .box img {
        width: 16px;
        height: 16px;
    }

    .box p {
        font-weight: 700;
        white-space: nowrap;
    }

    .border {
        display: none;
    }

    .active {
        background: none;
        border-bottom: 1.5px solid #28A745;
        border-radius: 0;
    }
}

@media (max-width: 900px) {
    .container {
        margin: 15px auto;
    }
}

@media (max-width: 768px) {
    .selectOptionContainer {
        margin: 0 auto;
        gap: 30px;
        width: 375px;
    }

    .box p {
        font-weight: 400;
    }
}