.carousel {
    display: flex;
    justify-content: center;
    height: 480px;
    width: 100%;
    margin: 1px auto 0 auto;
}

.carousel_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel_card {
    display: flex;
    flex: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.8s ease-in-out;
}

.carousel_card_active {
    opacity: 1;
    transform: scale(1);
    pointer-events: visible;
}

.card_image {
    width: 100%;
    object-fit: cover;
}

.carousel_arrow_left,
.carousel_arrow_right {
    position: absolute;
    font-size: 40px;
    top: 50%;
    transform: translate(0, -50%);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    padding-bottom: 7px;
    cursor: pointer;
}

.carousel_arrow_left:hover,
.carousel_arrow_right:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translate(0, -50%) scale(1.1);
}

.carousel_arrow_left {
    left: 15px;
}

.carousel_arrow_right {
    right: 15px;
}

.chevronLeft {
    margin-top: 6px;
    margin-right: 3px;
}

.chevronRight {
    margin-top: 6px;
    margin-left: 2px;
}

.carousel_pagination {
    direction: ltr;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.pagination_dot {
    height: 12px;
    width: 12px;
    background-color: #f5f5f5;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.pagination_dot:hover {
    transform: scale(1.2);
}

.pagination_dot_active {
    background-color: #28A745;
}

@media (max-width: 1200px) {
    .carousel_card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }
    .card_image {
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .carousel_pagination {
        bottom: 40px;
    }
}

@media (max-width: 900px) {
    .carousel {
        height: 340px;
    }
    .carousel_card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }
    .card_image {
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .carousel_arrow_left,
    .carousel_arrow_right {
        top: 88%;
        transform: translate(0, -50%);
    }

    .carousel_pagination {
        top: 88%;
    }
}

@media (max-width: 768px) {
    .carousel {
        height: 280px;
    }

    .carousel_card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
    }

    .card_image {
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .carousel_arrow_left,
    .carousel_arrow_right {
        top: 92%;
        transform: translate(0, -50%);
        font-size: 20px;
        width: 27px;
        height: 27px;
    }

    .carousel_pagination {
        top: 89%;
    }

    .pagination_dot {
        height: 7px;
        width: 7px;
    }
}

@media (max-width: 480px) {
    .carousel {
        height: 180px;
    }

    .carousel_arrow_left,
    .carousel_arrow_right {
        top: 90%;
    }

    .carousel_pagination {
        top: 85%;
    }
}