.ReserveBox button {
    position: relative;
    font-family: Vazir-FD-WOL, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 204px;
    height: 56px;
    color: #FFFFFF;
    background-color: #28A745;
    border: none;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
    margin-right: 310px;
    cursor: pointer;
}

.img {
    position: absolute;
    bottom: 35px;
    left: 150px;
    rotate: 10deg;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.fly {
    animation: flyAway 1.6s linear forwards;
}

@keyframes flyAway {
    0% {
        transform: translate(-50%, 0) rotate(10deg);
        opacity: 1;
    }
    20% {
        transform: translate(20px, -40px) rotate(12deg);
        opacity: 1;
    }
    40% {
        transform: translate(60px, -80px) rotate(13deg);
        opacity: 1;
    }
    60% {
        transform: translate(100px, -120px) rotate(14deg);
        opacity: 1;
    }
    80% {
        transform: translate(140px, -160px) rotate(15deg);
        opacity: 1;
    }
    100% {
        transform: translate(180px, -200px) rotate(15deg);
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    .ReserveBox button {
        margin-right: 200px;
    }
}

@media (max-width: 1050px) {
    .ReserveBox button {
        margin-right: 0px;
    }
}

@media (max-width: 900px) {
    .ReserveBox button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 154px;
        height: 45px;
        margin-right: 0;
        font-size: 21px;
    }
}

@media (max-width: 768px) {
    .ReserveBox button {
        width: 154px;
        height: 42px;
    }
}

@media (max-width: 480px) {
    .img.fly {
        animation: none;
    }
}