.container {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 185px;
    perspective: 1000px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    transform-origin: center center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-radius: 80px;
}

@media (max-width: 1200px) {
    .container {
        width: 300px;
        height: 280px;
        margin: 0 120px 0 0;
    }
    .slide img {
        width: 350px;
        height: 460px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 300px;
        height: 280px;
        margin: 0 40px 0 0;
    }
    .slide img {
        width: 300px;
        height: 380px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 255px;
        height: 284px;
        margin: 0;
    }
    .slide img {
        width: 255px;
        height: 284px;
        border-radius: 35px;
    }
}


